<!--
  Licensed under the Apache License, Version 2.0 (the "License").
  You may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<jcr:root
        xmlns:sling="http://sling.apache.org/jcr/sling/1.0"
        xmlns:granite="http://www.adobe.com/jcr/granite/1.0"
        xmlns:jcr="http://www.jcp.org/jcr/1.0"
        xmlns:nt="http://www.jcp.org/jcr/nt/1.0"
        jcr:primaryType="nt:unstructured"
        jcr:title="User Settings"
        granite:id="userSettingsDialog"
        granite:class="coral-Form coral-Form--vertical eqk-dialog"
        sling:resourceType="granite/ui/components/coral/foundation/dialog">
    <items jcr:primaryType="nt:unstructured">
        <content jcr:primaryType="nt:unstructured"
                 sling:resourceType="granite/ui/components/coral/foundation/fixedcolumns">
            <items jcr:primaryType="nt:unstructured">
                <column jcr:primaryType="nt:unstructured"
                        sling:resourceType="granite/ui/components/coral/foundation/container">
                    <items jcr:primaryType="nt:unstructured">
                        <form jcr:primaryType="nt:unstructured"
                              sling:resourceType="granite/ui/components/foundation/form"
                              granite:id="editSettings">
                            <items jcr:primaryType="nt:unstructured">
                                <maxResultsPerPage
                                        jcr:primaryType="nt:unstructured"
                                        sling:resourceType="granite/ui/components/coral/foundation/form/numberfield"
                                        granite:id="maxResultsPerPage"
                                        name="eqk-pageSize"
                                        fieldLabel="Max number of results per page"
                                        max="100"
                                        min="1"
                                        step="1">
                                    <granite:data
                                            jcr:primaryType="nt:unstructured"
                                            default-value="{Long}20"/>
                                </maxResultsPerPage>
                            </items>
                        </form>

                    </items>
                </column>
            </items>
        </content>
    </items>
    <footer jcr:primaryType="nt:unstructured">
        <save
                jcr:primaryType="nt:unstructured"
                sling:resourceType="granite/ui/components/coral/foundation/button"
                formId="editSettings"
                type="submit"
                text="Save"
                variant="primary"/>

    </footer>
</jcr:root>

