textarea .coral3-Textfield {
    width: auto;
    margin: 20px;
}

#queristerContent {
    margin: 20px;
}

#executeButton, #resultTable {
    margin-bottom: 20px;
}

.CodeMirror {
    width: auto;
    margin: 20px;
    resize: both;
}

.query-kit-pagination {
    margin-right: 5px;
}

.in-row {
    display: inline-flex;
}

#constructorWhere {
    display: contents;
}

#operatorWhere {
    width: auto;
}

.coral3-Button--minimal:not(:disabled):not(.is-disabled).is-selected {
    color: #326ec8;
}