<sly data-sly-use.row="com.exadel.etoolbox.querykit.core.models.query.TableRowInfo"/>
<tr is="coral-table-row" class="foundation-collection-navigator"
    data-foundation-collection-navigator-href="#">
    <td is="coral-table-cell">
        <coral-checkbox coral-table-rowselect/>
    </td>
    <sly data-sly-list.cellName="${row.cells}">
        <td class="result-table-cell"
            is="coral-table-cell"
            data-name="${cellName}"
            data-path="${row.cells[cellName].path}"
            data-type="${row.cells[cellName].type}"
            data-editable="${row.cells[cellName].path} ? 'true' : 'false'">
        <span>
           ${row.cells[cellName].value}
        </span>
        </td>
    </sly>
</tr>