<coral-dialog class="foundation-toggleable eqk-dialog" closable="on" id="querySuccessfulDialog">
    <coral-dialog-header>Last 10 Successful Queries</coral-dialog-header>
    <coral-dialog-content>
        <div class="coral-Form coral-Form--vertical foundation-layout-util-maximized-container">
            <table is="coral-table"  id="tableLastQueries" selectable>
                <tbody is="coral-table-body">
                </tbody>
            </table>
        </div>
    </coral-dialog-content>
    <coral-dialog-footer>
        <button class="execute-query-button" type="button" is="coral-button" variant="primary" disabled>Open</button>
        <button type="button" autocomplete="off" is="coral-button" icon="share" variant="secondary" trackingfeature="" trackingelement="" tracking="ON" class="share-query-button coral3-Button coral3-Button--secondary" size="M" disabled>
            <coral-icon class="coral3-Icon coral3-Icon--sizeS coral3-Icon--share" icon="share" size="S" autoarialabel="on" role="img" aria-label="share"></coral-icon>
            <coral-button-label>
            </coral-button-label>
        </button>
        <button class="delete-query-button" type="button" is="coral-button" variant="quiet" icon="delete" iconsize="M" disabled></button>
    </coral-dialog-footer>
</coral-dialog>