<coral-dialog class="foundation-toggleable eqk-dialog" closable="on" id="querySuccessfulDialog">
    <coral-dialog-header>Last 10 Successful Queries</coral-dialog-header>
    <coral-dialog-content>
        <div class="coral-Form coral-Form--vertical foundation-layout-util-maximized-container">
            <table is="coral-table"  id="tableLastQueries" selectable>
                <tbody is="coral-table-body">
                </tbody>
            </table>
        </div>
    </coral-dialog-content>
    <coral-dialog-footer>
        <button class="executeQueryButton" type="button" is="coral-button" variant="primary" disabled>Open</button>
        <button class="deleteQueryButton" type="button" is="coral-button" variant="quiet" icon="delete" iconsize="M" disabled></button>
    </coral-dialog-footer>
</coral-dialog>