<sly data-sly-use.tableRow="com.exadel.etoolbox.query.core.models.TableRowModel"></sly>
<div ${tableRow.properties} class="coral-FixedColumn-column">
    <div hidden class="pagination" >
        <div class="arrow-container previous">
            <button class="navigation-button previous">« Previous</button>
        </div>
        <div id="pagesContainer" class="pages-container"><!--Dynamic Content--></div>
        <div class="arrow-container next">
            <button class="navigation-button next">Next »</button>
        </div>
    </div>
</div>